@inherits LayoutComponentBase

<div class="page">

    <article class="relative content h-screen w-screen bg-login2 bg-no-repeat bg-cover">
        @Body
    </article>

   
    <footer class="">


    </footer>

</div>

@code {

}
