@inherits LayoutComponentBase

<div class="page h-screen max-h-screen w-screen flex flex-col">
    
    <NavMenu />
      <div id="content" class="h-full flex">
          <div id="sidebar">
            <Sidebar />
          </div>
            <div class="flex-1 p-4">
                @Body
            </div>
      </div>
</div>

